<%- include("partials/header.ejs") %> 
<% var i=1 %> 
<% blogs.forEach(element => { %>
    <div class="ui celled grid">
        <div class="row">
            <div class="three wide column centered">
                <a href="/blogs/<%= element._id  %>"> <img class="ui small image" src=<%= element.image %>></a>
            </div>
            <div class="thirteen wide column content">
                <div class="ui item">
                    <div class="content">
                        <div class="meta"><%= element.created.toLocaleTimeString()%> <%=element.created.toDateString() %></div>
                        <a href="/blogs/<%= element._id  %>" class="header">
                            <div class="name"><h2><%= element.title  %></h2></div>
                        </a>
                        <p class="description"><%= element.description.substring(0,100) %>...<a href="/blogs/<%= element._id  %>">Read More</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% }); %> 
   <div class="ui container ">
    
    <button class="ui right floated button">Next Page</button>
    <button class="ui left floated button">Prev Page</button>
   </div>
<%- include("partials/footer.ejs") %> 